<form ng-form="Skills-form">
  
  <table>
    <tr>
      <td>
        Skills : 
      </td>           
    </tr>
  </table>
  
  <table>
    <tr>
      <td>
        AddSkill : 
      </td>
      <td>
        <input type="text" name="skilltext" [(ngModel)]="skillItem.skillname" class="form-control" id="exampleInputAmount" placeholder="Skill Name">        
      </td>
      <td>
        
        <button type="button" class="btn btn-primary" *ngIf="addFlag" (click)="AddSkill()">Add</button>
        <button type="button" class="btn btn-primary" *ngIf="!addFlag" (click)="UpdateSkill()">Update</button>
        <button type="button" class="btn btn-default" *ngIf="!addFlag" [routerLink]="['../dashboard']">Cancel</button>
        
      </td>
    </tr>
  </table>


<table class="table">
  <tbody >
    <tr *ngFor = "let item of SkillList">
      <td>{{item.skillname}}</td>
      <td>
      <button type="button" class="btn btn-primary" (click)="EditClicked(item)">Edit</button>
      </td>
      <td>
      <button type="button" class="btn btn-lg btn-danger" (click)="DeleteSkill(item)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-default"  [routerLink]="['../dashboard']">Cancel</button>


</form>


