
<div>
    <canvas height="50px" baseChart 
    [chartType]="chartType"
    [data]="chartData"
    [labels]="labels"
    [options]="lineChartOptions"
    [legend]="ChartLegend"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)">
  </canvas>
  </div>
  

  
  <br>
  &nbsp;
  &nbsp;
  &nbsp;
  <div class="statistics"><span class="maincontent">{{TotalAssociates}}</span><br>Candidates</div>
  &nbsp;
  <div class="statistics"><span class="maincontent">{{Level1EmpPerc}}%</span> <br>Level1 Associates </div>
  &nbsp;
  <div class="statistics"><span class="maincontent">{{Level2EmpPerc}}%</span><br> Level2 Associates </div>
  &nbsp;
  <div class="statistics"><span class="maincontent">{{Level3EmpPerc}}%</span> <br>Level3 Associates </div>
  &nbsp;
  <div class="statistics"><span class="maincontent">{{GreenEmpPerc}}%</span> <br>Green Status </div>
  &nbsp;
  <div class="statistics"><span class="maincontent">{{BlueEmpPerc}}%</span><br>Blue Status </div>
  &nbsp;
  <div class="statistics"><span class="maincontent">{{RedEmpPerc}}%</span><br>Red Status </div>
  
  <br>
  <br>
  <form ng-form="searchemployees">
<table class="table">
    <thead>
        
    <th>Pic</th>
    <th>Status</th>
    <th>
        <input type="text" [(ngModel)]="searchname" placeholder="Search by Name" name="txtname" id="input${1/(\w+)/\u\1/g}" class="form-control" value="" required="required" pattern="" title="">
      </th>
      <th>
        <input type="text" [(ngModel)]="searchid" placeholder="Search by Associate ID" name="txtid" id="input${1/(\w+)/\u\1/g}" class="form-control" value="" required="required" pattern="" title="">
      </th>
      <th>
        <input type="text" [(ngModel)]="searchemail" placeholder="Search by email ID" name="txtemail" id="input${1/(\w+)/\u\1/g}" class="form-control" value="" required="required" pattern="" title="">
      </th>
      <th>
        <input type="text" [(ngModel)]="searchmobile" placeholder="Search by Mobile" name="txtmobile" id="input${1/(\w+)/\u\1/g}" class="form-control" value="" required="required" pattern="" title="">
      </th>
        <tr>
            <th colspan="3">
                <button type="button" [routerLink]="['../addassociate', 0]"   class="btn btn-primary">Add New Associate</button>
              </th>
            <th>
          
                <button type="button" [routerLink]="['../skillpage']" class="btn btn-default">Add Skill</button>
                
              </th>
            </tr>
          
        </thead>
        
        
        <tr *ngFor = "let item of associateList|filter:'associate.name':searchname|filter:'associate.associateId':searchid
        |filter:'associate.email':searchemail|filter:'associate.mobileNo':searchmobile">
          <td>
            <img [src]="item.associate.Image" class="img-responsive" alt="Image">
          </td>
          <td>
          <div class="statuscolour bluestatus" *ngIf="item.associate.statusBlue==1"></div>
          <div class="statuscolour greenstatus" *ngIf="item.associate.statusGreen==1"></div>
          <div class="statuscolour redstatus" *ngIf="item.associate.statusRed==1"></div>
          </td>
          <td>{{item.associate.associateId}}</td>
          <td>{{item.associate.name}}</td> 
          <td>{{item.associate.email}}</td>
          <td>{{item.associate.mobileNo}}</td>
          <td>{{getskillnames(item.associateSkills)}}</td>
          <td>
            <button type="button"  [routerLink]="['../addassociate', item.associate.associateId]"  class="btn btn-primary">Edit</button>
            
          </td>
          <td>
              <button type="button" (click)="DeleteClicked(item.associate.associateId)" class="btn btn-danger">Delete</button>
            </td>
          
       </tr>
    </table>
    
  </form>
  